img {
  width: 250px;
  height: 250px;
}

.column {
  float: left;
  width: 300px;
  text-align: center;
  margin-right: 5px;
  padding-top: 10px;
}

.before {
  background-color: #EFE9F0;
}

.during {
  background-color: #D1CCD2;
}

.after {
  background-color: #B3AFB4;
}